<!DOCTYPE html>
<html>
  <head>
    <title>badapple</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="mtk" class="mtk">
		<span class="log">申请资源中....</span>
		<button id="btn">启动</button>
	</div>
		<textarea readonly="readonly" id="txt"></textarea>
	<video src="video/a.mp4">
		你的浏览器不支持播放视频
	</video>
	<div class="info" id="info">
		<ul>
		</ul>
	</div>
  </body>
  <script src="javascripts/jquery-1.11.1.min.js"></script>
  <script src="javascripts/ba.js"></script>
</html>
